*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background:#050b18;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}

/* CARD LOGIN */
.login-card{
    width:400px;
    background:#111827;
    padding:40px;
    border-radius:20px;
    border:1px solid #1f4b99;
    box-shadow:0 0 25px rgba(0,0,0,0.5);
}

.login-card h2{
    font-size:36px;
    color:#4d9fff;
    margin-bottom:10px;
}

.login-card p{
    color:#9ca3af;
    margin-bottom:30px;
}

/* LABEL */
.login-card label{
    display:block;
    margin-bottom:8px;
    margin-top:15px;
    color:white;
    font-weight:500;
}

/* INPUT */
.login-card input{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:#1f2937;
    color:white;
    font-size:15px;
    outline:none;
}

.login-card input:focus{
    border:1px solid #4d9fff;
}

/* BUTTON */
.login-card button{
    width:100%;
    padding:14px;
    margin-top:25px;
    border:none;
    border-radius:12px;
    background:#2563eb;
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.login-card button:hover{
    background:#1d4ed8;
}

/* ERROR */
.alert-error{
    background:#dc2626;
    color:white;
    padding:12px;
    border-radius:10px;
    margin-bottom:15px;
    text-align:center;
    font-size:14px;
}